@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-destaque: 'Inter', sans-serif;
    --fonte-padrao: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;  
    align-items: center; 
    background: url(./img/Nomads.svg);
}

.container * {
    z-index: 15;
}

header {
    font-family: var(--fonte-destaque);
    color: white;
}

header h1 {
    padding-top: 10px;
    font-weight: bolder;
    text-shadow: 2px 0px 0.3px rgba(0, 0, 0, 0.199);
    font-size: 36px;
}

header p {
    padding-top: 10px;
    padding-bottom: 10px;
}


.shadow {
    width: 100%;
    box-shadow: 0px -300px 16px 600px rgba(0, 0, 0, 0.397);
    z-index: 10;
    position: absolute;
    top: 100%;
}

main {
    width: 88%;
    background-color: #ffffffb6;
    border-radius: 6px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.inputs > * {
    text-align: left;
    padding-left: 18px;
    font-size: 18px;
    font-weight: lighter;
}

.inputs h4 {
    padding-bottom:5px;
    font-family: var(--fonte-padrao);
    font-weight: 400;
}

.usuario {
    padding-top: 30px;
}

.email {
    padding-top: 10px;  
}

.senha {
    padding-top: 10px;
}

.confirmar_senha {
    padding-top: 10px;
}

.inputs input { 
    padding: 10px;
    width: 85%;
    background-color: #c4c4c4ce;
    border: none;
    border-radius: 5px;
}

.inputs a {
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 200;
}

.midia_social {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.midia_social img {
    height: 48px;
}

.botao {
    padding-top: 10px;
}

.botao button {
    padding: 20px 80px 20px;
    border-radius: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #2795DE;
    border: 0;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.226);
}

.login {
    padding-top: 10px;
    padding-bottom: 15px;
}

.login a {
    font-size: 21px;
    font-weight: 800;
    font-family: var(--fonte-destaque);
    text-decoration: none;
    color: #e2f3ffda;
}