@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


*, html, body{
  margin: 0;
  padding: 0;
}

p, h1,h2,h3{
  font-family: poppins;
  color:rgb(33, 35, 37)
}

body{
  max-width: 100vw;
  padding: 0 0.5rem 0;
  background-color: whitesmoke;
}

header {
  background: #FFFFFF;
  position: fixed;
  width: 100vw;
  height: 59px;
  left: 0px;
  top: 0px;
  font-size: 36px;
  color: rgba(25, 27, 29, 0.719);
  box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.123);
  align-items: center ;
  display: flex;
}

.shortcuts{
  padding: 0 8px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shortcuts i{
  font-size: 2rem;
  color:rgba(25, 27, 29, 0.719)
}

main{
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem 0;
  gap:2.5rem;
}

main h1{
  margin-bottom: 1rem;
}

main div{
  display: flex;
  align-items: center;
  text-indent: 0.85rem;
  margin-left:1rem;
}

.location{
  gap: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
}

.location *{
  margin-left: 1rem;
}

.logout{
  margin: 2rem 0 2rem;
}

.logout *{
  color: red;
}

.credits{
  position: absolute;
  top: 100%;
  transform: translateY(-102%);
  color:rgb(33, 35, 37, 0.2);
  display:none
}