@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*, html, body{
  margin: 0;
  padding: 0;
}

p, h1,h2,h3,h4{
  font-family: poppins;
}

body{
  max-width: 100vw;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  height:  calc(var(--vh, 1vh)* 100);
}

header {
  background: #FFFFFF;
  position: fixed;
  width: 100vw;
  height: 59px;
  left: 0px;
  top: 0px;
  font-size: 36px;
  color: rgba(25, 27, 29, 0.719);
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.123);
  align-items: center ;
  display: flex;
}

.shortcuts{
  padding: 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shortcuts i{
  font-size: 2rem;
  color:rgba(25, 27, 29, 0.4)
}

.center {
  display: flex;
  border: 1px solid rgba(26, 24, 24, 0.089);
  border-radius: 24px;
  background-color: whitesmoke;
}

.option {
  position: relative;
  top: -3%;
}

#planeOption{
  right: -8px;
}

#planeOption i{
  position: relative;
  right: 4px;
  top: -1px;
}

#mapOption{
  left: -8px
}

#mapOption i{
  position: relative;
  left: 6px;
  font-size: 1.667rem;
}


.selected {
  border-radius: 24px;
  background-color: #51B6FF;
  height: 100%;
}

.selected i{
  color:rgba(21, 22, 24, 0.89)
}

.shortcuts div i{
  font-size: 1.5rem;
  padding: 0 1.4rem 0.2rem;

}

#rightOption i{
  font-size: 1.667rem;
}

main{
  position: relative;
  width: calc(100vw - 1rem);
  height: calc(100vh - 80px - 59px - 2rem);
  top:59px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:0.65rem;
  padding: 1rem 0.5rem 1rem;
  overflow-x:hidden;

}


.card{
  overflow: hidden;
  position: relative;
  /* width: calc((100% - 1.5rem)/2);
  height: calc((100% - 3rem)/2); */
  background-color: rgb(5, 73, 73);
  border-radius: 20px;
  z-index: 10;
  transition: ease-out;
}

.card.swiped{
  opacity: 0;
  transition-duration: 0.8s;

}
.card.swiped.left{
left: -200px !important;
}

.card.swiped.right{
  left: 200px !important;
}

.card .image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  z-index: 8;
}

.card .shadow{
  z-index: 5;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  top:100%;
  transform: translateY(-100%);
  box-shadow: 0 -10px 60px 110px rgba(0, 0, 0, 0.849);
}

#card1 .image{
  background: url(./singapura.jpg) center/cover;
}

#card2 .image{
  background: url(./kyoto.jpg) center/cover;
}

#card3 .image{
  background: url(./bali.jpeg) center/cover;
}

#card4 .image{
  background: url(./bauneario.jpg) center/cover;
}

.image img{
  display: none;
}

.cardText{
  position: absolute;
  top: 66%;
  left: 6%;
  width: 90%;
  z-index: 15;
}

.cardText *{
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cardText h3{
  font-weight: 800;
  font-size: 20px;
}

.trip {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 3px;
  top:140%;
}

.trip h4 {
  color: #fffef8e8;
  font-size: 19px;
  font-weight: 900;
}

.trip p {
  color: #28ff24e5;
  font-size: 18px;
  font-weight: 700;
}



footer{
  background-color: whitesmoke;
  position: fixed;
  top: 100vh;
  left:0;
  transform: translateY(-100%);
  width: calc(100vw - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  align-items: center;
}

footer h3{
  font-size: 17px;
  font-weight: 600;
}

.moreBtn{
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(211, 179, 0, 0.788);
  border-radius: 24px;
  color: rgb(243, 243, 243); 
  font-size: 18px;
  font-weight: 900;
  font-family: poppins; 
  text-transform: capitalize;
  cursor: pointer;
}

.money{
  position: relative;
  top:100%;
  transform: translate(-125%, -120%);
  left: 100%;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 100%;
  width: 38px;
  height: 38px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.247);
  color: #008000;
  z-index: 15;
}